{% extends 'base.html.twig' %}

{% block body %}
    <h2>Lista dokumenata</h2>
    <ul>
    {% for document in documents %}
        <li>
            <a href="{{ document.path }}" download>{{ document.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}