body{
    background-color: #424950;
}
.btn-league{
    margin-left: 20px;
}

table{
    margin-top: 15px;
}

input, label, select {
    display:block;
}

.game-match-img {
    max-width: 200px;
}

.clickable-row {
    cursor: pointer;
}

.data-table {
    color: black;
    clear: none !important;
}

.data-table >  thead > tr > th, div > div > label {
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: white !important;
    border-color: white !important;
}

.table-dark{
    background-color: #3f4348;
}